.banner {
  background-image: url('http://res.cloudinary.com/devfclqwl/image/upload/v1519836974/front-page.jpg');
  background-size: cover;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0px;
}

.banner-text {
  h2 {
  color: $white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 0px;
  font-size: 64px;
  }
  a {
  color: $white;
  letter-spacing: 5px;
  font-size: 64px;
  font-weight: 700;
  }
}

body {
  background-color: white;
}
