.banner {
  background-image: url('http://res.cloudinary.com/devfclqwl/image/upload/v1519836974/front-page.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0px;
}

.banner-text {
  h2 {
  color: $white;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 0px;
  font-size: 64px;
  }
  a {
  color: $white;
  letter-spacing: 5px;
  font-size: 64px;
  font-weight: 700;
  }
}

body {
  background-color: white;
}

.home-box {
  padding: 40px;
  h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  }
}

.how-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-text {
  width: 400px;
  padding: 30px;
  h3 {
    margin-top: 0px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
  }
  p {
    letter-spacing: 0.5px;
  }
}

.box-orange {
  padding: 10px;
  background-color: $peach;
}

.box-blue {
  padding: 10px;
  background-color: $blue;
}

.people-box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.people {
  padding: 50px;
  margin-left: 40px;
  margin-right: 40px;
  h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  }
}

.people-card {
  text-align: center;
  margin-top: 0px;
  h3 {
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
}


.photographer-avatar {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  padding: 10px;
}

.photographer-avatar:hover .overlay {
  opacity: 1;
}

.people-info p {
  margin: 0;
}

.people-description {
  font-size: 16px;
  }
