h2 {
font-family: 'Roboto', sans-serif;
color: white;
}

.spacing {
  letter-spacing: 3px;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;

}

.btn {
  margin-top: 10px;
  border-radius: 2px;
  color: white;
  box-shadow: 2px 0 2px -2px rgba(0,0,0,0.2);
  font-size: 17px;
  background-color: rgb(146, 147, 146);
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #56CBF9;
  color: white;
}

// .btn-danger {
//   outline: none !important;
//   box-shadow: 2px 0 2px -2px rgba(0,0,0,0.2);
// }

.background {
  background-color: #FFB872;
  height:100vh;
}

.photo-upload {
  opacity: 0px;
}


