.fill-high {
  min-height: 80vh;
}

.container.fill-high {
  margin-top: 30px;
}

.search {
  margin-top: 50px;
  h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 48px;
    color: $blue;
    margin-bottom: 20px;
  }
}

.search-error {
  padding: 30px 0 70px;
  h4 {
    font-weight: lighter;
    font-size: 20px;
  }
}

.search-results-card {
  text-align: center;
  letter-spacing: 2px;
  background-color: white;
  width: 202px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 5px 5px 4px rgb(200, 200, 200);
/*  border: 2px solid rgb(200, 200, 200);*/
}

form {
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
}

#search {
  font-family: "Roboto", san-serif;
}

.search-gallery {
  background-size: cover;
  width: 200px;
  height: 100px;
}

.search-avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

.search-information {
  h3 {
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
    font-size: 15px;
  }
}

.card-link{
  margin-top: 5px;
}
