.fill-high {
  min-height: 80vh;
}

.container.fill-high {
  margin-top: 30px;
}

.search {
  h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 48px;
    color: $blue;
    margin-bottom: 20px;
  }
  margin-top: 20px;
  padding: 10px;
}

.search-results-card {
  text-align: center;
  letter-spacing: 2px;
  background-color: white;
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

form {
  input {
  font-family: "Roboto", san-serif;
  }
  text-align: center;
  letter-spacing: 2px;
}

.search-gallery {
  background-size: cover;
  width: 200px;
  height: 100px;
}

.search-avatar {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search-information {
  h3 {
    font-style: italic;
    letter-spacing: 2px;
    margin-top: 0px;
  }
  p {
    margin-bottom: 5px;
  }
}

.card-link{
  margin-top: 5px;
}
