.contain {
  color: #56CBF9;
  background-color: white;
  margin-top: 0px;
  padding: 20px;
  h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 40px;
  margin-top: 0px;
  padding: 20px;
  }
}

.search {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

form {
  input {
  font-family: "Roboto", san-serif;
  }
  text-align: center;
}

.cards-container {
  align-items: center;
  color: black;
}

.polaroid {
  margin: 40px;
  border-radius: 1px;
  height: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  padding-bottom: 20px;
  background-color: white;
}

.card-body {
  padding: 10px;
  background-color: #E5E1E1 !important;
  height: 250px;
  color: black;
  position: relative;
  text-align: center;
  border-top: 10px solid white;
  margin: 10px;
}

.card-description h2 {
  color: black;
  text-transform: uppercase;
  font-size: 25px;
}

.card-link {
  top: 0;
  color: black;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: white;
  opacity: 100;
  font-size: 20px;
}
