<div class="banner">
  <div class="banner-text">
    <h2><strong><%= link_to "BOOK", photographers_path %>/<%= link_to "BECOME", new_photographer_path %></strong></h2>
    <h2><strong>A PHOTOGRAPHER</strong></h2>
  </div>
</div>
