<div class="container">
  <h1>Take Your Pic</h1>
  <!-- cards of photographers -->
  <% @photographers.each do |photographer| %>
    <%= link_to photographer.user.first_name, photographer_path(photographer) %>
  <% end %>
</div>
