<div class="container form-container white">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2 class="spacing blue-font text-center">CREATE YOUR PROFILE</h2>
      <%= render 'shared/form' %>
    </div>
  </div>
</div>
